@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

:root {
    --first-color: #3D593C;
    --second-color: #F2F2F2;
    --third-color: #3C5949;
    --fourth-color: #4D7361;
    --fifth-color: #658C88;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: var(--second-color)
}

h1 {
    position: relative;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(120%, -50%);
    z-index: 2;
}

h1 button:active {
    transform: translate(120%, -45%);
}

.btn {
    background-color: var(--second-color);
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
}

.btn-small {
    font-size: 12px;
    padding: 5px 10px;
    border: 0;
}

.btn:hover {
    color: var(--second-color);
    background-color: var(--fifth-color);
}


.btn-ghost {
    border: 0;
    background-color: transparent;
}

.clear {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.clear:active {
    transform: translate(0, 1px);
}

.cards {
    perspective: 1000px;
    position: relative;
    height: 300px;
    width: 500px;
    max-width: 100%;
}

.card {
    position: absolute;
    opacity: 0;
    font-size: 1.5em;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(50%) rotateY(-10deg);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) rotateY(0deg);
}

.card.left {
    transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
    background-color: var(--second-color);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: relative;
    color: #000;
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
    transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
    backface-visibility: hidden;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--second-color);
}

.inner-card-front {
    transform: rotateX(0deg);
    z-index: 2;
}

.inner-card-back {
    transform: rotateX(180deg);
}


.inner-card-front::after,
.inner-card-back::after {
    content: "🔁  Flip";
    font-family: 'Font Awesome 5 Free', 'Roboto', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 16px;
    color: var(--third-color);
}

.navigation {
    display: flex;
    margin: 20px 0;
}

.navigation .nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--second-color);
}

.navigation p {
    margin: 0 25px;
}

.add-container {
    opacity: 0;
    z-index: -1;
    background-color: var(--fifth-color);
    border-top: 2px solid var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: 0.3s ease;
}

.add-container.show {
    opacity: 1;
    z-index: 2;
}

.add-container h3 {
    letter-spacing: 2px;
    margin: 10px 0;
    font-size: 22px;
    align-items: center;
}

.form-group label {
    display: block;
    margin: 20px 0 10px;
}

.form-group textarea {
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px;
    min-width: 500px;
    max-width: 100%
}




@media (max-width: 500px) {

    .cards {
        width: 90%;
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 button {
        position: relative;
        margin-right: 250px;
    }

    .form-group textarea {
        min-width: 300px;
    }
}