@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

:root {
    --first-color: #3D593C;
    --second-color: #F2F2F2;
    --third-color: #3C5949;
    --fourth-color: #4D7361;
    --fifth-color: #658C88;
}

* {
    box-sizing: border-box;
}