@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

:root {
    --first-color: #3D593C;
    --second-color: #F2F2F2;
    --third-color: #3C5949;
    --fourth-color: #4D7361;
    --fifth-color: #658C88;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: var(--second-color)
}

h1 {
    position: relative;
    font-family: 'Bangers', cursive;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(120%, -50%);
    z-index: 2;
}

.btn {
    background-color: var(--second-color);
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
}

.btn-small {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-ghost {
    border: 0;
    background-color: transparent;
}

.clear {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.cards {
    perspective: 1000px;
    position: relative;
    height: 300px;
    width: 500px;
    max-width: 100%;
}

.card {
    position: absolute;
    opacity: 0;
    font-size: 1.5em;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.card.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
}

.inner-card {
    background-color: var(--second-color);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: relative;
    color: #000;
}

.inner-card-front,
.inner-card-back {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--second-color);
}